*.html
*.rds
*.csv
*.Rproj
*.Rhistory
*.RData
*.Ruserdata
*.zip
*.tar.gz
*.grd
*.nc
*.gri
*.sif
#*.txt
*.odt
*.tre
#*.png
*.docx
*.pdf
*.RDataTmp

.Rproj.user/
data/
#processed_data/

figures/
soil_SR_vs_MRD.R
