*.html
*.rds
*.csv
*.Rproj
*.Rhistory
*.RData
*.Ruserdata
*.zip
*.tar.gz
*.txt
*.odt
*.tre
*.png
*.docx
*.pdf
*.RDataTmp
*.sh
.Rproj.user/
data/
literature/
old_stuff/
shapefile/
.~lock.interpolation_notes.odt#
